{% extends 'base.html' %}

{% block title %}
user_profile
{% endblock title %}

{% block body %}
<style>
    img{
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
</style>
<center>
{% if user.is_authenticated %}

<h1>welcome to {{UO.username}} profile page</h1>
<hr>
<img src="{{PO.profile_pic.url}}" alt="" srcset="">
<h1>first name of the user is :{{UO.first_name}} </h1>
<h1>last name of the user is :{{UO.last_name}} </h1>
<h1>email  of the user is :{{UO.email}} </h1>
<h1>username name of the user is :{{UO.username}} </h1>
<h1>phone number  of the user is : {{PO.phno}}</h1>
{%else%}
<h2>No data here  </h2>
{%endif%}
  
</center>

{% endblock body %}